<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>THis is the Home Page</h1>
    <h3><%= "anand gupta".toUpperCase() %></h3>
    <h3><%= ["pranam","namaste","SatShriakal"][0] %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
      voluptate ea quasi mollitia ducimus repudiandae inventore eaque. Corporis
      sit perferendis cupiditate similique deserunt aspernatur pariatur dolores?
      Atque ipsa, labore eaque laborum aut aliquid ex nostrum facere modi
      dolores culpa fuga, dicta consequatur? Recusandae, voluptate ullam?
    </p>
    <button>Click Me!</button>
  </body>
</html>
